/*--- Avanquest WebEasy Page Style ---*/


.cc09               { /* Common */
	border          :   0.00pt none #f1e71f;
	clip            : rect(0.00pt,698.25pt,7.50pt,0.00pt);
	}
span#e8             { /* xiv-celmun003008.gif */
	background      : transparent url(xiv-celmun003008.gif) no-repeat top left;
	position        : absolute;
	left            :  28.50pt;
	top             : 195.75pt;
	width           : 698.25pt;
	height          :   7.50pt;
	}
span#e7             { /* xiv-celmun003007.jpg */
	background      : transparent url(xiv-celmun003007.jpg) no-repeat top left;
	position        : absolute;
	left            :  27.75pt;
	top             :  19.50pt;
	width           : 690.75pt;
	height          : 150.00pt;
	}
img#e6              { /* xiv-celmun003006.jpg */
	position        : absolute;
	left            : 592.50pt;
	top             : 180.75pt;
	width           : 137.25pt;
	height          :  36.00pt;
	}
img#e5              { /* xiv-celmun003005.jpg */
	position        : absolute;
	left            :  28.50pt;
	top             : 180.75pt;
	width           : 137.25pt;
	height          :  36.00pt;
	}
img#e4              { /* xiv-celmun003004.jpg */
	position        : absolute;
	left            : 451.50pt;
	top             : 180.75pt;
	width           : 137.25pt;
	height          :  36.00pt;
	}
img#e3              { /* xiv-celmun003003.jpg */
	position        : absolute;
	left            : 310.50pt;
	top             : 180.75pt;
	width           : 137.25pt;
	height          :  36.00pt;
	}
img#e2              { /* xiv-celmun003002.jpg */
	position        : absolute;
	left            : 169.50pt;
	top             : 180.75pt;
	width           : 137.25pt;
	height          :  36.00pt;
	}
img#e1              { /* xiv-celmun003001.jpg */
	position        : absolute;
	left            : 167.25pt;
	top             : 322.50pt;
	width           : 411.00pt;
	height          : 131.25pt;
	}
div#page            { /* Page Holder */
	background-color: #ffffff;
	background-image: url(xiv-celmun003b01.jpg);
	position        : relative;
	width           : 745.50pt;
	height          : 576.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	}



/*--- EndOfFile ---*/
