@charset "utf-8";
/* CSS Document */

body{
font-family:'Dosis';
margin:0;
padding:0;
background-color:#4B92DB;
}

#container{
margin:25px auto;
width:90%;
min-width:800px;
min-height:600px;
overflow:hidden;
clear:both;
}

#left{
width:25%;
min-height:600px;
float:left;
background-color:#364E6B;
}

#right{
width:75%;
float:right;
height:600px;
background-color:#D5E2F2;
}

#footer{
padding:6px;
clear:both;
background-color:#A7BDD9;
height:32px;
text-align:center;
}

#logo{
width:100%;
padding:5%;
}

#texto{
overflow-x:auto;
height:380px;
width:100%;
padding-top:2px;
}

#top{
height:16%;
background-color:#A7BDD9;
text-align:right;
padding-top:30px;
padding-right:12px;
padding-bottom:0px;
}

#contenido{
height:80%;
padding-right:16px;
padding-left:5%;
padding-bottom:20px;
padding-top:6px;
}

p,h1,h2,h3,h4,h5{
padding:0;
margin:0;
color:#191B28;
}

h5{
font-size:24px;
padding-bottom:20px;
}

p{
line-height:1.6;
text-align:justify;
padding-bottom:10px;
font-size:18px;
}

p.columnas{
line-height:1;
}

h3{
font-size:40px;
padding-right:5%;
padding-bottom:5px;
text-align:right;
}

h4{
font-size:36px;
padding-bottom:5px;
padding-left:30px;
}

h1{
font-size:70px;
color:#191B28;
}

h2{
font-size:32px;
color:#191B28;
}

a{
color:#548DBF;
}

a.visited{
color:#FFFFFF;
}

#columnas{
width:33%;
float:left;
height:inherit;
line-height:1;
}

#comsion-img{
float:left;
height:90%;
width:40%;
}

#comision-text{
float:right;
height:90%;
width:57%;
padding-left:3%;
}

