#sidebar ul,li{
	margin:0;
	padding:0;
	list-style-type: none;
}

#sidebar ul{
	padding-top:30px;
}

#sidebar li{
	padding:12px 0;
}

#sidebar a{
	color:gold;
	font-size:16pt;
}

#sidebar a:hover{
	color:#4b92db;
}

#sidebar a:visited{
	color:#ffffff;
}

.logo{
	max-width:200px;
}