div(layout="column" layout-margin)
  md-content.md-whiteframe-z1.md-padding(layout layout-xs="column" layout-padding)
    div(flex)
      h2.md-headline
        strong Registro para delegaciones
      p CELMUN está abierto a todos los alumnos de Secundaria y Preparatoria.
      h3.md-title Proceso de Registro
      ol
        li Descargar y llenar el formato de registro.
        li Enviar el formato a celmun.info@gmail.com antes del 4 de marzo de 2016.
        li Cubrir las cuotas de recuperación y enviar el comprobante de pago al mismo correo antes del 8 de marzo de 2016.
        li Llegará un correo con las asignaciones correspondientes.
      h3.md-title Cuotas de Recuperación
      ul
        li $175 por Delegado.
        li $200 por escuela.
        li $150 por Asesor.
      p Los depósitos deben referenciarse a la siguiente cuenta:
        p.nm
          strong Centro Escolar del Lago A.C.
        p.nm Banco Scotiabank.
        p.nm Cuenta: 00103224623
      md-button.md-primary.md-raised(flex href="assets/docs/registro.docx" target="_blank")
        md-icon.material-icon file_download
        | Descargar el formato de registro

    div(flex="30")
      h3.md-headline Información de Contacto
      p
        strong Profesor Luis Enrique Zepeda Toledo
      p.nm Coordinador General de CELMUN XIX.
      a.nm(href="mailto:lzepeda@mailcel.org") lzepeda@mailcel.org
      p.nm Tel. 5886 8000 ext. 2435

      p
        strong Damaris Bernal Monroy
      p.nm Subsecretaria General CELMUN XIX
      a.nm(href="mailto:celmun.info@gmail.com") celmun.info@gmail.com

  md-content.md-whiteframe-z1.md-padding
    h2.md-headline
      strong Hospedaje
    p El Centro Escolar del Lago ofrece hospedaje durante todo el evento a precios muy accesibles a través de su Casa de Retiros Subiaco. Contratar el hospedaje incluye:
    ol
      li Alimentación.
      li Transporte desde y hacia el Colegio.
    p
      i Para más información, contáctenos a través de un correo electrónico a&nbsp;
      a(href="mailto:celmun.info@gmail.com") celmun.info@gmail.com
