div(layout layout-margin layout-padding layout-align="space-around-center" layout-xs="column")
  md-content.md-whiteframe-z1(flex layout="column" layout-align="center-center")
    div
      img.portrait(src="assets/images/sg.jpg")
    h2.md-headline.m10 Francisco Javier Martínez Ramírez
    h3.md-title.m10 Secretario General

  md-content.md-whiteframe-z1(flex layout="column" layout-align="center-center")
    div
      img.portrait(src="assets/images/ssg.jpg")
    h2.md-headline.m10 Irma Damaris Bernal
    h3.md-title.m10 Subsecretaria General


