.app-content
  background #eee
  min-height calc(100vh - 320px)

header.md-primary
  background-color $primary-color

.main-logo
  max-height 200px

.main-toolbar
  h2, h3
    margin 0
    text-align center

.main-logo
  padding 10px 0px

@media(max-width 600px)
  .main-logo
    height 60px
    padding 0

  .app-content
    min-height calc(100vh - 120px)

  // .main-toolbar
  //   h2
  //     font-size 18px

  //   h3
  //     font-size 16px

