div(layout layout-xs="column" layout-align="space-between" layout-margin)
  md-content.md-whiteframe-z1.md-padding(flex)
    h2.md-display-1 ¿Qué es CELMUN?
    p.md-body-2 Como parte de uno de los objetivos del Centro Escolar del Lago de formar alumnos con habilidades intelectuales y sociales, desde hace diecinueve años, junto con un grupo de estudiantes de bachillerato, crearon un proyecto a través de cual los alumnos pudieran conocer de los principales problemas que enfrenta nuestro mundo a través del funcionamiento de la Organización de las Naciones Unidas, sus labores, objetivos y principios. De esta forma crearon el Centro Escolar del Lago Model of United Nations, CELMUN.
    p.md-body-2 En CELMUN, nuestro principal objetivo es formar alumnos que sean conscientes de las principales problemáticas que aquejan a la sociedad a través de diversas mesas de diálogo que permitan a los estudiantes exponer sus ideas. Los alumnos que estén interesados en participar adquirirán habilidades como la oratoria, la solución de problemas, la investigación, la argumentación, el pensamiento crítico, entre otras; además de forjarse valores como la escucha y la humildad.
  md-content.md-whiteframe-z1.md-padding(flex)
    h2.md-display-1 ¿Qué es un MUN?
    p.md-body-2 Un Modelo de Naciones Unidas es una simulación o representación del Sistema de Naciones Unidas en el que participan alumnos de escuelas secundarias, preparatorias o universidades. Los alumnos representan a los delegados de diferentes países e intervienen en debates y negociaciones en los que tratan temas que corresponden a los programas de trabajo de los diferentes órganos y comisiones de las Naciones Unidas.
    p.md-body-2 Un Modelo es un evento educativo y cultural en el que los jóvenes que participan, además de capacitarse sobre temas de política internacional y sobre el funcionamiento de Naciones Unidas, adquieren una visión global del mundo en donde desarrollan sus vidas. Este ejercicio impulsa a los jóvenes a conocer:
    ul
      li.md-body-2 Las preocupaciones y esperanzas de la gente en las diferentes regiones del mundo.
      li.md-body-2 La forma de cómo el trabajo de Naciones Unidas puede mejorar la vida de la gente que habita este planeta.
      li.md-body-2 Las herramientas reglamentarias y la actitud necesarias para reforzar la cooperación internacional.

