md-content.md-whiteframe-z1.md-padding(layout layout-xs="column" layout-wrap)
  div(layout="column" layout-align="space-around-center" flex)
    img.logo-display(src="assets/unesco/logo.png")
    div
      h3.md-headline.text-center UNESCO
      p.text-center Organización de las Naciones Unidas para la Educación, la Ciencia y la Cultura
    md-button.md-primary(href="#/comite/unesco") Ver
  div(layout="column" layout-align="space-around-center" flex)
    img.logo-display(src="assets/interpol/logo.png")
    div
      h3.md-headline.text-center INTERPOL
      p.text-center Policía Internacional
    md-button.md-primary(href="#/comite/interpol") Ver
  div(layout="column" layout-align="space-around-center" flex)
    img.logo-display(src="assets/unodc/logo.png")
    div
      h3.md-headline.text-center UNODC
      p.text-center Oficina de las Naciones Unidas Contra las Drogas y el Crimen
    md-button.md-primary(href="#/comite/unodc") Ver
  div(layout="column" layout-align="space-around-center" flex)
    img.logo-display(src="assets/oms/logo.png")
    div
      h3.md-headline.text-center OMS
      p.text-center Organización Mundial de la Salud
    md-button.md-primary(href="#/comite/oms") Ver
  div(layout="column" layout-align="space-around-center" flex)
    img.logo-display(src="assets/unhrc/logo.png")
    div
      h3.md-headline.text-center UNHRC
      p.text-center United Nations Human Rights Council
    md-button.md-primary(href="#/comite/unhrc") Ver
