md-content.md-whiteframe-z1(layout layout-align="center-center")
  img(src="assets/images/secretariado.jpg")
md-content.md-whiteframe-z1.md-padding(layout layout-xs="column" layout-padding)
  div(layout="column" layout-align="center-center" flex="30" flex-xs="100" hide-xs)
    img.portrait-sm(src="assets/images/sg.jpg")
  div(flex layout="column" layout-align="space-between")
    div
      h2.md-display-1 CELMUN XIX. Because it's our world.
      p El Comité Organizador del Modelo de las Naciones Unidas del Centro Escolar del Lago, les da más cordial bienvenida a la décima novena edición de CELMUN a celebrarse los días 9, 10 y 11 de marzo de 2016.
      p Los espacios de debate que ofrece CELMUN tienen una finalidad más profunda que enseñar habilidades de oratoria, redacción, negociación, manejo del idioma entre otras. CELMUN convierte a sus delegados en agentes de cambio preocupados por la búsqueda de soluciones a los diferentes conflictos en el marco internacional y nacional.
      p Se desarrolló este sitio web con el fin de facilitar todas las herramientas e información necesarias para lograr el óptimo desempeño durante los tres días de exhausto debate en CELMUN.
      p El comité organizador queda de ustedes ante cualquier situación que se presente.
      p ¡Nos vemos en CELMUN XIX!
    div
      h2.md-title.m10 Francisco Javier Martínez Ramírez
      p.m10 Secretario General
div(layout layout-align="center-center")
  p.md-caption Desarrollo: Santiago Sinisterra | Fotografías: Fernando Cedillo y David Barrera
