md-content.md-whiteframe-z1.md-padding(style="margin-bottom:8px")
  h1.md-display-1 Archivo
  p Aquí puedes ver los sitios web de ediciones anteriores de CELMUN.

div(layout layout-xs="column" layout-align="space-around")
  md-content.md-whiteframe-z1.md-padding(flex)
    md-subheader 2010-2012
    md-list
      md-list-item.secondary-button-padding
        p XIII CELMUN (2010)
        md-button.md-primary(href="archive/13celmun/index.html" target="_blank") Ver sitio
      md-list-item.secondary-button-padding
        p 13° CELMUN Jr (2011)
        md-button.md-primary(href="archive/13celmunjr/index.html" target="_blank") Ver sitio
      md-list-item.secondary-button-padding
        p XIV CELMUN (2011)
        md-button.md-primary(disabled) No Disponible
      md-list-item.secondary-button-padding
        p 14° CELMUN Jr (2012)
        md-button.md-primary(href="archive/14celmunjr/index.html" target="_blank") Ver sitio
      md-list-item.secondary-button-padding
        p XV CELMUN (2012)
        md-button.md-primary(href="archive/15celmun/index.html" target="_blank") Ver sitio
      md-list-item.secondary-button-padding
        p 15° CELMUN Jr (2012)
        md-button.md-primary(href="archive/15celmunjr/index.html" target="_blank") Ver sitio

  md-content.md-whiteframe-z1.md-padding(flex)
    md-subheader 2013-2015
    md-list
      md-list-item.secondary-button-padding
        p XVI CELMUN (2013)
        md-button.md-primary(href="archive/16celmun/index.html" target="_blank") Ver sitio
      md-list-item.secondary-button-padding
        p 16° CELMUN Jr (2013)
        md-button.md-primary(href="archive/16celmunjr/index.html" target="_blank") Ver sitio
      md-list-item.secondary-button-padding
        p XVII CELMUN (2014)
        md-button.md-primary(href="archive/17celmun/index.html" target="_blank") Ver sitio
      md-list-item.secondary-button-padding
        p 17° CELMUN Jr (2014)
        md-button.md-primary(disabled) No Disponible
      md-list-item.secondary-button-padding
        p XVIII CELMUN (2015)
        md-button.md-primary(href="archive/18celmun/index.html" target="_blank") Ver sitio
      md-list-item.secondary-button-padding
        p 18° CELMUN Jr (2015)
        md-button.md-primary(href="archive/18celmunjr/index.html" target="_blank") Ver sitio

  //- md-content.md-whiteframe-z1.md-padding(flex)
  //-   md-subheader 2016
  //-   md-list
  //-     md-list-item.secondary-button-padding
  //-       p XIX CELMUN (2016)
  //-       md-button.md-primary(href="/" target="_blank") Ver sitio


